* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../img/dicasIngles.jpg');
}

.container-principal {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
}

.container-title {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 2rem;
    color: #9A1915;
    text-align: center;
}

.hr-left {
    background-color: #9a1915;
    height: 4.5px;
    width: 28rem;
    border-radius: 10px;
}

.hr-right {
    background-color: #9a1915;
    height: 4.5px;
    width: 28rem;
    border-radius: 10px;
}

.intro-text {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-align: justify;
    text-align-last: center;
    padding: 0 4rem 2rem 4rem;
}

.intro-img {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.intro-img img {
    width: 35%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 6rem;
}

.dica-title {
    font-weight: 900;
    font-size: 25px;
    margin: 20px 0;
}

.dica-text {
    font-size: 1.2rem;
    text-align: justify;
    text-align-last: center;
    margin: 50px 120px;
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 35%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dica-text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8rem;
    gap: 2rem;
}

.dica-text-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.dica-text-text .text {
    font-size: 1.2rem;
    text-align: justify;
    -webkit-margin-before: 0.5rem;
    -webkit-margin-after: 0.5em;
}

.dica-text-img .img img {
    width: 100%;
}

.dica-cursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    border-radius: 25px;
    gap: 1.2rem;
}

.curso-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curso-block:hover {
    transform: scale(1.05);   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.curso-img img {
    width: 300px;
}

.dica-title-divisor {
    display: flex;
    justify-content: start;
}

.divisor {
    border: none;
    width: 500px;
    height: 4.2px;
    background-color: #9A1915;
    border-radius: 10px;
}

.dica-category {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 35px;
    padding: 4rem 0;
    color: #9A1915;
    text-align: center;
    flex-direction: column;
}

.dica-category-title {
    font-size: 2.2rem;
    font-weight: 900;
}

.dica-title-center {
    font-size: 25px;
    font-weight: 900;
    margin: 20px 0 -10px 0;
    text-align: center;
}

.graphic-img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.graphic-img img {
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.graphic-img img:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.graphic-caption {
    display: flex;
    justify-content: center;
}

.graphic-caption a {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    color: rgba(87, 87, 87, 0.5);
    text-decoration: none;
}

.graphic-caption a:hover {
    color: #0054A1;
    text-decoration: underline;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dica-content-title {
    font-size: 25px;
    font-weight: 900;
    color: #9A1915;
    text-align: center;
    margin: 0 0 30px 0;
}

.dica-text-content {
    background-color: rgba(87, 87, 87, 0.1);
    padding: 50px;
    border-radius: 60px;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39);
}

.example{
    color: #9A1915;
    text-align: center;
}