* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../img/dicasIngles.jpg');
}

.container-principal {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
}

.container-title {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 2rem;
    color: #9A1915;
    text-align: center;
}

.hr-left {
    background-color: #9a1915;
    height: 4.5px;
    width: 28rem;
    border-radius: 10px;
}

.hr-right {
    background-color: #9a1915;
    height: 4.5px;
    width: 28rem;
    border-radius: 10px;
}

.intro-text {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    line-height: 1.5rem;
    text-align: justify;
    text-align-last: center;
    padding: 0 4rem 2rem 4rem;
}

.intro-img {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.intro-img img {
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 6rem;
}

.dica-title {
    font-weight: 900;
    font-size: 25px;
    margin: 20px 0;
}

.dica-text {
    font-size: 1.2rem;
    text-align: justify;
    text-align-last: center;
    margin: 2rem;
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 45%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dica-text-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
    gap: 2rem;
}

.dica-text-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.dica-text-text .text {
    font-size: 1.2rem;
    text-align: justify;
    -webkit-margin-before: 0.5rem;
    -webkit-margin-after: 0.5em;
}

.dica-text-img .img img {
    width: 100%;
}

.dica-cursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    border-radius: 25px;
    gap: 1.2rem;
}

.curso-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curso-block:hover {
    transform: scale(1.05);   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.curso-img img {
    width: 100%;
}

.dica-title-divisor {
    display: flex;
    justify-content: start;
}

.divisor {
    border: none;
    width: 500px;
    height: 4px;
    background-color: #9A1915;
    border-radius: 10px;
}

.dica-category {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 35px;
    padding: 3.5rem 0 1rem 0;
    color: #9A1915;
    text-align: center;
    flex-direction: column;
}

.dica-category-title {
    font-size: 2.2rem;
    font-weight: 900;
}

.dica-title-center {
    font-size: 25px;
    font-weight: 900;
    margin: 20px 0 -10px 0;
    text-align: center;
}

.graphic-img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.graphic-img img {
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.graphic-img img:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.graphic-caption {
    display: flex;
    justify-content: center;
}

.graphic-caption a {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    color: rgba(87, 87, 87, 0.5);
    text-decoration: none;
    text-align: justify;
    text-align-last: center;
}

.graphic-caption a:hover {
    color: #0054A1;
    text-decoration: underline;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dica-content-title {
    font-size: 25px;
    font-weight: 900;
    color: #9A1915;
    text-align: center;
    margin: 0 0 30px 0;
}

.dica-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(87, 87, 87, 0.1);
    border-radius: 60px;
    width: 50rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39);
    text-align: justify;
    text-align-last: center;
    padding: 2rem;
    margin: 2rem auto;
}

.example{
    color: #9A1915;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container-principal {
        padding: 0 2rem;
    }

    .title {
        padding: 4rem 2rem;
        justify-content: center;
        gap: 1rem;
    }

    .container-title {
        font-size: 1.8rem;
    }

    .hr-left {
        width: 20rem;
    }

    .hr-right {
        width: 20rem;
    }

    .intro-text {
        font-size: 1.2em;
        padding: 0 2rem 4rem 2rem;
    }

    .intro-img {
        padding: 2rem 0;
    }

    .intro-img img {
        width: 80%;
    }

    .dica {
        margin: 2rem;
    }

    .dica-title {
        font-size: 1.3rem;
        margin: 1rem 0;
    }

    .dica-text {
        margin: 4rem 1rem;
    }

    .dica-text-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-align-last: center;
        padding: 0 1rem;
    }

    .dica-text-text {
        margin: -2.5rem 0 1rem 0;
        max-width: 100%;
    }

    .dica-text-img .img {
        display: flex;
        align-items: center;
    }

    .dica-text-img .img img {
        height: 70%;
    }

    .img img {
        width: 70%;
    }

    .dica-cursos {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
    }

    .curso-block {
        height: 20rem;
        width: 20rem;
    }

    .curso-img img {
        width: 100%;
    }

    .dica-title-divisor {
        justify-content: flex-start;
    }

    .divisor {
        width: 28rem;
    }

    .dica-category-title {
        font-size: 1.8rem;
    }

    .dica-title-center {
        font-size: 1.3rem;
        margin: 20px 0 -10px 0;
    }

    .graphic-img img {
        width: 90%;
    }

    .graphic-caption a {
        font-size: 1rem;
    }

    .dica-content-title {
        font-size: 20px;
    }

    .dica-text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem 1.5rem;
        width: 35rem;
    }

    .dica-text-content img {
        margin: 0;
    }

    .example{
        font-size: 1.2rem;
    }
    p{
        font-size: 1em;
    }
}

@media (max-width: 767px) {
    .banner-site {
        height: 200px;
    }
    .container-principal {
        padding: 0 1rem;
    }

    .container-title {
        font-size: 1.5rem;
    }

    .title {
        padding: 2rem 1rem;
        gap: 0.5rem;
    }

    .hr-left {
        width: 10rem;
    }

    .hr-right {
        width: 10rem;
    }

    .intro-text {
        padding: 0 1rem 2rem 1rem;
    }

    .intro-img {
        padding: 1rem 0;
    }

    .intro-img img {
        width: 95%;
    }

    .dica {
        margin: 1rem;
    }

    .dica-title {
        font-size: 1.2rem;
    }

    .dica-text {
        margin: 2rem 1rem;
    }

    .dica-text-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-align-last: center;
        padding: 0 1rem;
    }

    .dica-text-text {
        max-width: 100%;
    }
    
    .dica-text-img .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dica-text-img .img img {
        width: 100%;
    }

    .img img {
        width: 90%;
    }

    .dica-cursos {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .curso-block {
        height: 15rem;
        width: 15rem;
    }

    .curso-img img {
        width: 100%;
    }

    .dica-title-divisor {
        justify-content: flex-start;
    }

    .divisor {
        width: 25rem;
        height: 4px;
    }

    .dica-category {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .dica-category-title {
        font-size: 1.2em;
    }

    .dica-title-center {
        font-size: 1.1rem;
    }

    .graphic-img img {
        width: 100%;
    }

    .graphic-caption a {
        font-size: 0.9rem;
    }

    .dica-content-title {
        font-size: 1.2em;
    }

    .dica-text-content {
        width: 22.5rem;
        padding: 2rem;
    }

    .dica-text-content img {
        width: 10%;
        margin: 1rem;
    }

    .example{
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) { 
    .dica-text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem; 
        width: 100%; 
        max-width: 14rem; 
    }
    
    .dica-text-content img {
        width: 10%; 
        margin: 1rem 0; 
    }
    .graphic-caption a {
        font-size: 10px;
        text-align: justify;
        margin: 2rem;
    }
    .container-title{
        font-size: 1.2em;
    }
    .dica-category{
        font-size: 1.2em;
    }
    .dica-category-title {
        font-size: 1.2em;
    }
    .intro-text{
        font-size: 1em;
    }
    .dica-category-title {
            font-size: 1.2em;
        }
    .dica-text {
        font-size: 1rem;
    }
    .dica-text-text .text {
        font-size: 1em;
    }
}
