* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../img/noticiasmain-img-banner.jpg');
}

.news-container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0;
}

.hr-left {
    background-color: #9A1915;
    height: 4.5px;
    width: 35rem;
    border-radius: 10px;
}

.title h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #9A1915;
}

.hr-right {
    background-color: #9A1915;
    height: 4.5px;
    width: 35rem;
    border-radius: 10px;
}

.underline {
    display: flex;
    margin: 0.5rem 0;
    height: 4px;
    width: 250px;
    background-color: #9A1915;
    border-radius: 10px;
}

.news-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem 2rem 4rem;
}

.intro-text {
    text-align: justify;
    text-align-last: center;
    line-height: 1.5rem;
    word-spacing: 0.4rem;
    font-size: 1.2em;
    font-weight: 400;
}

.news-block-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}

.news-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;

}

.news {
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 28rem;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news:hover {
    transform: scale(1.05);   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.9rem;
}

.news-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-img img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

h2 {
    font-size: 1.15rem;
    font-weight: 800;
    text-align: justify;
    text-align-last: center;
    color: #9A1915;
}

p {
    font-size: 1em;
    font-weight: 600;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

.language-selector {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; /* Espaço entre as bandeiras */
    margin: 20px 0; /* Espaço acima e abaixo da seção */
}


.language-selector img {
    width: 70px; 
    height: 50px; 
    object-fit: cover; /* Garante que a imagem se ajuste ao espaço sem distorção */
    cursor: pointer;
    border-radius: 3px; 
}

@media (min-width: 768px) and (max-width: 1023px) {
    .title {
        margin: 4rem;
        gap: 2rem;
    }

    .hr-left {
        width: 20rem;
    }

    .hr-right {
        width: 20rem;
    }

    .news-intro {
        padding: 0 4rem 2rem 4rem;
    }

    .intro-text {
        font-size: 1rem;
        word-spacing: 0.5rem;
    }

    .news-block-container{
        display: flex;
        flex-direction: column;
        margin: 0 8rem;
    }

    .news-block {
        display: flex;
        
        gap: 1rem;
    }

    .news {
        width: 18rem;
        height: 25rem;
    }

    .news-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.95rem;
        font-weight: 600;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .banner-site {
        height: 200px;
    }
    .title {
        margin: 2rem;
        gap: 1rem;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .hr-left {
        width: 25rem;
        height: 4px;
    }

    .hr-right {
        width: 25rem;
        height: 4px;
    }

    .news-intro {
        padding: 0 2rem 2rem 2rem;
    }

    .intro-text {
        font-size: 1.2em;
        word-spacing: 0.2rem;
    }

    .news-block-container{
        margin: 0 4rem;
    }

    .news-block {
        gap: 1rem;
        flex-direction: column;
    }

    .news {
        width: 20rem;
        height: 28rem;
    }

    .news-text {
        padding: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.05rem;
        font-weight: 550;
    }
}
