* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../img/noticias-banner-img.jpg');
}

.news-container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: 900;
    color: black;
}

.underline {
    display: flex;
    margin: 0.5rem 0;
    height: 4px;
    width: 250px;
    background-color: #9A1915;
    border-radius: 10px;
}

.news-intro {
    display: flex;
    justify-content: center;
    padding: 0 4rem 2rem 4rem;
}

.intro-text {
    text-align: justify;
    text-align-last: center;
    word-spacing: 0.4rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.news-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}

.news {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pad1 {
    background-color: rgba(255, 0, 0, 0.877);
    border: 4px solid rgba(179, 0, 0, 0.877);
}

.pad2 {
    background-color: rgba(255, 217, 0, 0.897);
    border: 4px solid rgba(207, 176, 0, 0.897);
}

.pad3 {
    background-color: rgb(4, 194, 4);
    border: 4px solid rgb(0, 143, 0);
}

.news:hover {
    transform: scale(1.05);   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.9rem;
}

.news-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-img img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: justify;
    text-align-last: center;
}

p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: justify;
    text-align-last: center;
}

a {
    text-decoration: none;
    color: black;
}