* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('/img/banner-notícias.png');
}

.line-left {
    background-color: #9a1915;
    height: 4px;
    width: 600px;
    border-radius: 10px;
    justify-items: end;
    border: none;
}

.line-right {
    background-color: #9a1915;
    height: 4px;
    width: 600px;
    border-radius: 10px;
    justify-items: end;
    border: none;
}

.container-noticia {
    display: flex;
    justify-content: start;
    align-items: center;
}

h3 {
    font-size: 1.2rem;
    font-weight: 900;
}

.language-selector {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; /* Espaço entre as bandeiras */
    margin: 20px 0; /* Espaço acima e abaixo da seção */
}
.language-selector img {
    width: 70px; 
    height: 50px; 
    object-fit: cover; /* Garante que a imagem se ajuste ao espaço sem distorção */
    cursor: pointer;
    border-radius: 3px; 
}

.container-title {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    margin: 4rem 0;
    align-items: center;
}

.noticia-text {
    font-size: 18px;
    line-height: 1.2;
    margin: 125px 225px; 
    text-align: left; 
    margin: 50px 100px;
}


.container-title h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #9a1915;
}

.container-noticia {
    display: flex;
    background-color: #9a1915;
    height: 4px;
    width: 250px;
    border-radius: 10px;
    margin: 40px;
    padding: 20px;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

.noticias-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticias-img img {
    width: 28%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.line {
    border: 0;
    height: 4px;
    background-color: #9A1915;
    margin: 20px 150px;
    width: 450px;
    justify-content: flex-start;
    border-radius: 10px;
}

h2 {
    text-align: start;
    font-weight: 900;
    font-size: 35px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 150px;
}

.estrategias-text {
    text-align: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: justify;
    padding: 2rem 14rem;
    text-align-last: center;
}

.line-end {
    align-items: center;
    background-color: #9A1915;
    height: 3px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

.noticia-text {
    font-size: 20px;
    text-align: justify;
    margin: 50px 120px;
}

.noticia-content-title {
    font-size: 25px;
    color: #9A1915;
    text-align: start;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 150px;
}

.noticia-title {
    font-weight: 900;
    font-size: 25px;
    margin: 20px 0; 
}

.img-noticia {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 20px;
    font-weight: 900;
    margin: 20px 0;
    text-align: center;
    font-weight: 900;
    display: flex;
    justify-content: center;
    color:#9A1915
}

b {
    color:#9a1915
}

.obras{
    color: #9A1915;
    margin:20px 150px;
    padding: 40px;
    font-size: 25px;
}

.obras-text{
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    margin: 20px 250px;
}

.noticia-content-title-modal{
    font-size: 25px;
    color: #9A1915;
    text-align: start;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    margin: 50px 120px;
}

.p-e-t {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 0 0 10rem;
}

.p-e-t2 {
    display: flex;
    flex-direction: column;
    align-items: justify;
    padding: 0 0 2rem 38rem;
}

.p-e-t3 {
    display: flex;
    flex-direction: column;
    align-items: justify;
    padding: 0 0 2rem 50rem;
}

.estrategias-text-topic {
    font-size: 20px;
    text-align: justify;
    line-height: 3rem;
}

.container-topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-topics2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.news-bibliographic-references {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    margin: 10rem 5rem 2rem 0;
}

.news-bibliographic-references h3 {
    font-size: 1.2rem;
    font-weight: 900;
    color: #3a3a3a;
}

.news-bibliographic-references a {
    color: #9A1915;
    font-size: 1rem;
    font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container-title {
        gap: 2rem;
    }

    .container-title h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
        margin: 4rem 0 0 3rem;
    }

    .line {
        width: 24rem;
        margin: 1.5rem 3rem;
    }

    .estrategias-text {
        font-size: 1.2em;
        line-height: 1.5rem;
        padding: 2rem 3rem 2rem 3rem;
    }

    .noticias-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 2rem 0;
    }

    .noticias-img img {
        width: 60%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .noticia-text-content {
        margin: 0;
    }

    .noticia-content-title {
        font-size: 1.6em;
        margin: 2rem 0 0 5rem;
    }

    .div-noticia-text {
        margin: 0;
    }

    .noticia-text {
        font-size: 1.2em;
        margin: 2rem 6rem;
        text-align: justify;
        text-align-last: start;
        word-spacing: 0.2rem;
    }

    .noticia-title {
        font-size: 2rem;
        margin: 20px 0; 
    }

    .img-noticia {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-noticia img {
        width: 75%;
    }

    .obras {
        font-size: 2rem;
        text-align: center;
    }

    .obras-text{
        margin: 1rem 4rem;
        text-align: justify;
        text-align-last: center;
    }

    .noticia-content-title-modal{
        font-size: 1.6rem;
        margin: 1rem 6rem;
    }

    .p-e-t {
        padding: 0 3rem;
    }

    .p-e-t2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 6rem 2rem 6rem;
        padding: 0;
    }

    .p-e-t3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .estrategias-text-topic {
        font-size: 1.2em;
        word-spacing: -0.1em;
        text-align: flex-start;
        text-align-last: start;
    }

    .news-bibliographic-references {
        display: flex;
        justify-content: flex-end;
        margin: 4rem 3rem 2rem 0;
    }

    .news-bibliographic-references h3 {
        font-size: 0.9rem;
    }

    .news-bibliographic-references a {
        font-size: 0.9rem;
    }

    .container-topics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 3rem;
    }

    .block h2 {
        font-size: 1.3rem;
    }

    .block .line {
        width: 18rem;
        margin: 1rem 3rem;
    }

    .container-topics2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 3rem;
    }
}

@media (max-width: 767px) {
    .banner-site {
        height: 200px;
    }
    .container-title {
        gap: 1rem;
    }

    .container-title h1 {
        font-size: 1.2em;
        text-align: center;
    }

    .container-noticia {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }

    h2 {
        font-size: 1.2rem;
        margin: 4rem 0 0 2rem;
    }

    .line {
        width: 13rem;
        margin: 1rem 2rem;
    }

    .estrategias-text {
        font-size: 1.1em;
        line-height: 1.5rem;
        padding: 2rem;
    }

    .noticias-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 2rem 0;
    }

    .noticias-img img {
        width: 65%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .noticia-text-content {
        margin: 0;
    }

    .noticia-content-title {
        font-size: 1.4em;
        margin: 2rem 0 2rem 2rem;
    }

    .div-noticia-text {
        margin: 0;
    }

    .noticia-text {
        font-size: 1.1em;
        margin: 2rem 2rem;
        text-align: justify;
        text-align-last: start;
        word-spacing: 0.2rem;
    }

    .noticia-title {
        font-size: 1.8rem;
        margin: 20px 0; 
    }

    .img-noticia {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-noticia img {
        width: 75%;
    }

    .obras {
        font-size: 1.3rem;
        text-align: center;
    }

    .obras-text{
        margin: 1rem 2rem;
        text-align: justify;
        text-align-last: center;
    }

    .noticia-content-title-modal{
        font-size: 1.4rem;
        margin: 1rem 2rem;
    }

    .p-e-t2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 3.5rem 2rem 3.5rem;
        padding: 0;
    }

    .p-e-t3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 10rem;
        padding: 0;
    }

    .estrategias-text-topic {
        font-size: 1em;
        word-spacing: -0.1em;
        text-align: start;
        text-align-last: start;
    }

    .news-bibliographic-references {
        display: flex;
        justify-content: flex-end;
        margin: 4rem 2rem 2rem 2rem;
    }

    .news-bibliographic-references h3 {
        font-size: 0.8rem;
        text-align: end;
    }

    .news-bibliographic-references a {
        font-size: 0.7rem;
        text-align: end;
    }

    .container-topics {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .p-e-t {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 2rem;
    }

    .block h2 {
        font-size: 1.2em;
    }

    .block .line {
        width: 20rem;
        margin: 1rem 2rem;
    }

    .container-topics2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0;
        margin: 0 2rem;

    }
}
@media (max-width: 767px) {
.estrategias-text {
    font-size: 1em;
}
}