* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: 900;
}

.linha-section {
    display: flex;
    justify-content: start;
    margin: 0.2rem 0 2rem 0;
}

.linha {
    border: none;
    width: 800px;
    height: 4px;
    background-color: #9A1915;
    border-radius: 10px;
}

.nivel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0;
}

.nivel-img {
    display: flex;
    align-items: center;
}

.nivel-img img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

.nivel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nivel-text h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.nivel-text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.nivel-text button {
    padding: 10px;
    border-radius: 5px;
    background-color: #9A1915;
    color: #ffffff;
    font-weight: 700;
    transition: all .50s ease;
    cursor: pointer;
}

.nivel-text button:hover {
    transform: translateX(5px);
    border: 2px solid;
    border-color:#D71920;
    background-color: white;
    color:black;
    border-radius: 5px;
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../img/banner-simulado.jpg');
}

/*responsive*/

@media (max-width: 768px) {
    .banner-site {
        height: 200px;
    }
    .container-principal {
        padding: 2rem;
    }

    .title h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .linha {
        width: 100%;
    }

    .nivel {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nivel-img img {
        width: 200px;
        height: 200px;
    }

    .nivel-text h2 {
        font-size: 1.2rem;
    }

    .nivel-text p {
        font-size: 1rem;
    }

    .nivel-text button {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .container-principal {
        padding: 3rem;
    }

    .nivel {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nivel-img img {
        width: 250px;
        height: 250px;
    }
}