* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../img/banner-simulado.jpg');
}

.container {
    display: flex;
    max-width: 75rem;
    margin: auto;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem 0;
    align-items: center;
}

.hr-left {
    background-color: #9a1915;
    height: 4px;
    width: 250px;
    border-radius: 10px;
}

.hr-right {
    background-color: #9a1915;
    height: 4px;
    width: 250px;
    border-radius: 10px;
}

.container-title h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #9a1915;
}


.question {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2rem;
}

.question-title {
    display: flex;
    margin-bottom: 1rem; 
}

.question-title h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

.divisor-section {
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
}

.divisor {
    border: none;
    width: 300px;
    height: 4px;
    background-color: #9A1915;
    border-radius: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color:#575757;
}

.question-img {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.question-img img {
    width: 35%;
}

.question-caption {
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #575757;
}

.question-text p {
    font-size: 1.2rem;
    margin: 2rem 0 1rem 0;
}

.option {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.option:hover {
    background-color: #f9f9f9;
}

.question-text1 {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.question-text1 p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.question-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
}

.question-text2 p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    -webkit-margin-before: 0.5rem;
    -webkit-margin-after: 0.5em;
}

.question8-img {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.question8-img img {
    width: 50%;
}

.question14-img {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.question14-img img {
    width: 70%;
}

.option.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.option.wrong {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #D71920;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem 0 2rem 2rem;
}

button:hover {
    background-color: #9A1915;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 50rem;
    }

    .container-title h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .question-title h2 {
        font-size: 1.3rem;
    }

    .divisor {
        width: 250px;
    }

    .subtitle {
        font-size: 1rem;
    }

    .question-img img {
        width: 45%;
    }

    .img-caption {
        font-size: 1rem;
    }

    .question-text p {
        font-size: 1.1rem;
    }

    .option {
        font-size: 1.1rem;
    }

    .question-text1 p {
        font-size: 1.1rem;
    }

    .question-text2 p {
        font-size: 1.1rem;
    }

    .question8-img img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .hr-left, .hr-right {
        display: none; 
    }

    .container-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .hr-left, .hr-right {
        width: 100px;
    }

    .container-title h1 {
        font-size: 1.5rem;
    }

    .option {
        font-size: 0.9rem;
    }

    button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .container-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .hr-left, .hr-right, hr.divisor {
        display: none; 
    }

    .container-title h1 {
        font-size: 1.2rem;
        text-align: center; 
    }

    .option {
        font-size: 0.9rem;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .question-title h2, h3 {
        font-size: 1rem;
    }

    .question-title {
        margin-bottom: 0.5rem;
        flex-direction: column; 
        text-align: center; 
    }
    
    p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .image-question img {
        width: 100%; 
        height: auto;
    }

    button {
        font-size: 1rem;
        padding: 8px 16px;
        width: 100%; 
        text-align: center;
    }
}