* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 3%;
    font-size: 2em;
    font-weight: 900; /* Negrito */
}

.linha{
    border: none;
    height: 0.125rem;
    background-color: #9A1915;
    margin: 10px 0;
    width: 450px;
}

p {
    font-size: 1.2em;
    font-weight: 400; /* Normal */
}

.imagem-arredondada {
    width: 500px; 
    height: 350px; 
    border-radius: 10%;
}

.container_text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2rem;
    padding: 0.5rem;
}

.container_img{
    display: flex;
    padding: 1rem;
    margin: 1rem;
}

.members-img{
    border-radius: 100%;
    margin-top: 2%;
}

.container-members h1{
    margin: 2% 0 0 12%;
}

.container-members hr{
    margin: 1% 0 0 12%;
    width: 450px;
}

.members-description{
    display: flex;
    gap: 5%;
    padding: 0 15%;
    margin-top: 5%;
}

.members-text-p{
    margin: 8% 15%;
    text-align: center;
}

.member{
    text-align: center;
}

.member img{
    margin-bottom: 30px;
}

.linha-central{
    margin: 2% 32%;
    width: 450px;
    height: 0.125rem;
    background-color: #9A1915;
    border: none;
}