* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}


.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    font-weight: 700; /* Negrito */
    margin-bottom: 10px;
}

.linha{
    border: 0;
    height: 0.125rem;
    background-color: red;
    margin: 10px 0;
    width: 15rem;
}

p {
    font-size: 1.2em;
    font-weight: 400; /* Normal */
}

.imagem-arredondada {
    width: 500px; 
    height: 350px; 
    border-radius: 10%;
}

.container_text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2rem;
    padding: 0.5rem;
}

.container_img{
    display: flex;
    padding: 1rem;
    margin: 1rem;
}





