* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


.container, .container-2 {
    max-width: 90%; 
    margin: 0 auto;
    padding: 10px;
}

.line {
    border: 0;
    height: 4px;
    background-color: #9A1915;
    margin: 20px 150px;
    width: 450px;
    justify-content: flex-start;
    border-radius: 10px;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    /* Normal */
}


.imagem-arredondada {
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 10%;
}

.container-text {
    justify-content: center;
    margin: 3% 20% auto;
    text-align: justify;
}

.container-img {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.containers-title {
    text-align: start;
    font-weight: 900;
    font-size: 35px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 150px;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.members-description {
    margin: 25px;
    padding-top: 40px;
    text-align: center;
}

.members-description img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.568);
    max-width: 100%;
}

.members-name {
    font-weight: bold;
    margin-top: 15px;
}
.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../img/sobreNos.jpg');
}

/*responsividade*/

@media (max-width: 1024px) { 
    .containers-title {
        font-size: 1.8em;
    }
    .members {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
    }

    .members-description {
        max-width: 300px; 
        margin: 15px 0; 
    }
    .members-description img {
        width: 150px; 
        height: 150px;
    }

    .members-name {
        font-size: 1rem; 
    }
}

@media (max-width: 768px) {
    .banner-site {
        height: 200px;
    }
    .container_logos{
        width: 80%;
    }

    .line {
    width: 80%;
    margin: 2rem;
    }
    .container-text {
        margin: 3% 5%;
    }
    .members {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .line {
        width: 80%;
        justify-content: center;
    }
    .members-description {
        max-width: 250px; 
        margin: 10px 0; 
    }
    .members-description img {
        width: 120px;
        height: 120px;
    }
    .members-name {
        font-size: 0.9rem; 
    }

    .containers-title {
        font-size: 1.2em;
        margin: 2rem ;
        text-align: center;
        justify-content: center;
    }
    p{
        font-size: 1rem;
    }
}