* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 10px;
}

.linha{
    border: none;
    height: 4px;
    background-color: #9A1915;
    margin: 10px 0;
    width: 30rem;
    border-radius: 10px;
}

.linha-2{
    border: none;
    height: 4px;
    background-color: #9A1915;
    margin: 10px 0;
    width: 45rem;
    border-radius: 10px;
}

.linha-3{
    border: none;
    height: 4px;
    background-color: #9A1915;
    margin: 10px 0;
    width: 57rem;
    border-radius: 10px;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    text-align: justify;
    max-width: 700px;
}

.container_text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.3rem;
    max-width: 1400px;
}

.content {
    display: flex;
    margin-bottom: 2rem; 
}

.image-container {
    flex-shrink: 0; 
    margin-left: 30px; 
}

.imagem-lado-a-lado {
    max-width: 200px; 
    height: 200px; 
    border-radius: 50%; 
}

.text-block {
    flex: 1; 
    margin-right: 30px; 
    height: 150px; 
    overflow: hidden; 
}

.banner-site{
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('/img/banner\ home-1.jpg');
}

@media (max-width: 768px) {
    .banner-site {
        height: 200px;
    }
    .container {
        width: 100%;
        display: block;
    }

    .container_text {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .linha-3 {
        width: 85%;
    }

    .imagem-lado-a-lado {
        width: 150%;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    p {
        font-size: 1em;
    }

    .linha, .linha-2 {
        width: 50%;
    }
}
